<div class="section" ng-controller="MainCtrl">
  <div class="jumbotron">
    <div class="row">
      <h1 id="pageTitle" class="col-sm-8 col-sm-offset-2">Welcome to Currency Converter</h1>
      <h2 id="subtitle" class="col-sm-8 col-sm-offset-2">How much would you like to trade?</h2>
      <div class="mainForm">
        <form ng-submit="checkValues(); makeChange();" class="form-inline">
          <div class="form-group">
            <!-- max input of 15 is for security reasons, a number with more than 10 digits is not safe -->
            <input type="text" ng-model="newChange.amount" maxlength="15" class="form-control"/>
            <button type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-default" >Go</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Getting change for : {{totalAmount}} pounds!</h4>
            </div>
            <div class="modal-header">
              <div class="row modalCategory">
                <div class="col-sm-6">
                  <h1>Coin type</h1>
                </div>
                <div class="col-sm-6">
                  <h1>Amount of coins</h1>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div class="row">
                <div ng-repeat="coin in coins">
                  <div ng-repeat="(key, value) in coin">
                    <ul>
                      <li class="col-sm-6 results">{{key}}</li>
                    </ul>
                    <ul>
                      <li class="col-sm-6 results">{{value}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearValue()">Close</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>